
body{
 background-color: rgb(80, 200, 200);
}

.container {
    width: 1086px;
    border: 1px salmon solid;
    text-align: left;
}

.h1 {
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 65px;
color: #003ECB;
}

.head {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 42px;
/* or 150% */


/* Gray 3 */

color: #828282;
}

